<section class="container mt-2">
    <table *ngIf="produtos | async as prods" class="table">
        <tr>
            <th> ID </th>
            <th> Nome </th>
            <th> Descricao </th>
            <th> Quant. </th>
            <th> valor </th>
            <th> <i class="fa fa-edit"></i> </th>
            <th> <i class="fa fa-trash"></i> </th>
        </tr>
        <tr *ngFor="let p of prods">
            <td>{{p.key}}</td>
            <td>{{p.nome}}</td>
            <td>{{p.descricao}}</td>
            <td>{{p.quant}}</td>
            <td>{{p.valor | currency:'BRL'}}</td>
            <td (click)="editar(p)" style="cursor: pointer"><i class="fa fa-edit"></i></td>
            <td (click)="apagar(p)" style="cursor: pointer"><i class="fa fa-trash"></i></td>
        </tr>
    </table>
</section>